header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
}

.player{
    color:rgba(12, 12, 240, 0.8);
}

.com{
    color:rgba(255, 0, 0, 0.8);
}

body{
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    }
    

button{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 5px;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.fa-regular{
    width: 100px;
    height: 100px;
}


/*
.fa-hand-back-fist{
    position: absolute;
    left: 15%;
}

.fa-hand{
    position: absolute;
    left: 48%; 
}

.fa-hand-scissors{
    position: absolute;
    left: 80%; 
}
*/
.pCircle{
    height: 120px;
    width: 120px;
    background-color:transparent;
    border-radius: 90px;
    border: 10px solid rgba(12, 12, 240, 0.8);
    position: absolute;
}

.comCircle{
    height: 120px;
    width: 120px;
    background-color:transparent;
    border-radius: 90px;
    border: 10px solid rgba(255, 0, 0, 0.8);
    position: absolute;
}


/*
.circles{
    display: flex;
    left: 10%;
    justify-content: space-around;
    position: absolute;
}
*/



